/*FONTS*/
@font-face {
  font-family: 'CourierNewBold';
  src: url('/fonts/CourierNewBold.ttf')  format('truetype');
}

@font-face {
  font-family: 'CourierNew';
  src: url('/fonts/CourierNew.ttf')  format('truetype');
}

@font-face {
  font-family: 'FuturaMedium';
  src: url('/fonts/FuturaMedium.ttf')  format('truetype');
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir.otf')  format('truetype');
}

@font-face{
    font-family:'FontAwesome';
    src: url(/fonts/fontawesome-webfont.ttf) format('truetype');
}

body
{
    background-color:white;
    
}

#mainContentRow
{
    margin-right: 0;
}



/*NAV BARS*/

.wrapper {
  margin-left: 140px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  background-color: white;
}

.navbar .navbar-collapse {
  text-align: center;
  background-color: white;
}

.smallerNav
{
   z-index: 999999;
}



/*SECONDARY NAV*/

/*My stuff*/
.navbar-fixed-left {
  width:7.3333%;
  position: fixed;
  border-radius: 0;
  height: 100%;
  z-index: 101;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
 
}


#secondaryNav
{
   
    background-color: black;
    z-index: 99999;
}

#secondaryNav:hover
{
    opacity: .8;
}

#login,#logout
{
position:absolute;
font-family: 'CourierNewBold';
font-size: 25px;
color:white;
top: 80%;
letter-spacing: 5px;
left:-12%;
text-align: center;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
}

#logout
{
    left:-20%;
}
#overlay
{
    position:fixed;
    background-color:black;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    visibility: hidden;
    opacity: 0;

}


/*LOG IN SCREEN*/
#loginScreen
{   
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 200px;
    visibility: hidden;
}




#topBox
{
    width:500px;
    height: 150px;
    background-color: black;
    border-style:solid;
    border-color: white;
    border-width:2px;
     
}


#topBox input
{
   position: absolute;
   right:15px;
   
}

#topBox label
{
    color:white;
    font-family: 'CourierNewBold';
    font-size: 25px;
    margin-left: 20px;
    letter-spacing: 5px;
   
}


#customer
{
    margin-top: 20px;
}

.boxItem
{
   
    margin-bottom: 0px;
}


#user,#password
{
    margin-top: 4%;
}


#loginButton
{
    position: absolute;
     bottom: -20px;
     left: 0px;
     border-style:double;
    border-color: white;
    border-width:3px;
   background-color: black;
    color:white;
    font-family: 'FuturaMedium';
    font-size: 30px;
    width: 160px;
    padding:5px;
    letter-spacing: 5px;
}



#loginButton:hover
{
    color:black;
    background-color: white;
    border-color: black;
    
}

#findButton
{
    position: absolute;
     bottom: -20px;
     right: 1px;
     border-style:double;
    border-color: white;
    border-width:3px;
    background-color: black;
    color:white;
    font-family: 'FuturaMedium';
    font-size: 30px;
    width: 325px;
    padding:5px;
    letter-spacing: 5px;
    
}

#findButton:hover
{
    color:black;
    background-color: white;
    border-color: black;
}



/*MOBILE NAV*/


ul.nav a:hover 
{ 
    background-color: rgb(198,227,234) !important; 
    color:white !important; 
    
}


/*DROPDOWN MENU BAR*/
 #dropDownMenu
{
    position: absolute;
    top:0;
    right:0;
    margin-right: 10px;
}

.dropdown-menu
{
    text-align:center;
    font-family:  'FuturaMedium';
    font-size: 18px;
    letter-spacing: 5px;
    color:black;
    position:absolute;
    right:30px;
     
}


.sub-menu
{
    margin-top:-15px;
    list-style-type: none;
    display:none;
    text-align:center;
    font-family:  'FuturaMedium';
    font-size: 18px;
    letter-spacing: 5px;
    color:black;
    position:absolute;
    right:5px;
     
}




.sub-menu div
{
    margin-bottom:15px;
    display:block;
    float:right;
   background-color: white;
   z-index: 9;
}


.dropBox
{
    border:1px solid black;
    padding:10px;
    width:100px;
}

.dropBox:hover
{
     background-color:rgb(198,227,234);
    color:white;
    z-index: 9;
}



.line
{
   height:30px;
   margin-top: -15px;
   margin-left: 150px;
   z-index: 0;
}

.wrapper {

position: absolute;
  margin-left: -3%;
  top:-45%;
 transform: scale(.4, .4);
}



header[role="banner"] #logo-main {
  display: block;
  margin: 20px auto;
  margin-top: 2%;
}

#headLogo{
    margin: -100px;
}



/*CONTENT CAN MAKE EDITS FROM HERE*/



#mainContainer
{
    padding:0;

}


#logoContain
{
    width:100%;
    margin-left: -8%;
}
#founderContain
{

    margin-top: 3%;
}


#founderBox
{
    position:absolute;
    width: 85%;
    height:70px;
    background-color: black;
    text-align: left;
    z-index: 0;
}

#founder
{
    font-family:  'FuturaMedium';
    font-size: 30px;
    color: white;
    letter-spacing: 10px;
    margin-left: 3%;
}

#boxContain
{
    margin-top: 9%;
   
}

/*BIO PAGES ON ABOUT PAGE*/


.topText
{
    
    display: flex;
    flex-direction:row;
}



.textBoxes
{
    
    display: flex;
    flex-direction:column;
    
}


.imageBoxes
{
   
    display:flex;
    flex-direction:row;

     transition:all .5s;
    z-index: 1;
    max-width:100%;
     
   
}


#vGod, #pScilla, #dBo
{
    margin-top: 2%;
}


.imageText1
{
    font-family: 'FuturaMedium';
   
}

.imageText2
{
    font-family: 'CourierNewBold';
   
}



.imageText1,.imageText2
{
    color:black;
    margin-left: 30px;
    font-size:130%;
    text-align: left;
   
    font-weight: bold;
    letter-spacing: 5px;
    transition:all .5s;
    
}

.imageText1
{
   margin-top: -1px;
  
}

.imageText2
{
    margin-top: -7px;
    width:60%;
     border-bottom:solid 1px black; 
     padding-bottom: 5px;
}



.bottomText
{
    
    display: flex;
    max-width: 75%;

}



.imageText3
{
    
   
    padding-top: 10px;
    color:black;
    margin-left: 30px;
    font-family: 'Avenir';
    text-align: left;
     font-size:110%;
    transition: background-color .2s ease-out;
    border-top:solid 0px black; 

   
}



/*HOME PAGE*/


#topLeftContain
{
    position: absolute;
    width: 35%;
    margin-left: 2%;
}

#topBGContain img
{
    width: 100%;
   
}



.divideContain{
    margin-top:-10%;
   margin-left: 5%;
}



.descContain
{
    width:75%;
    margin-left: 12%;
   

}

#desc1
{
    margin-top: -4%;
}

.desHeader
{
    font-family: 'Avenir';
   font-size: 220%;
    text-align: center;
}


.descriptions
{
    margin-top: 10%;
    height:370px;
  
    
}



#proactive .descriptions, #smart .descriptions
{
    
    border-right: 2px solid black;
   
}

#smart .descriptions
{
    padding-left: 10px;
  padding-right: 50px;
}




.bullet
{
    font-family: 'Avenir';
    font-size: 140%;
    margin-top: 10%;
  
}

.blackBarContain
{
   
     margin-top: 3%;
}

.blackBarContain .blackBar
{ 
    height: 7%;
    
    border-left: .5px solid white;
    background-color: black;
    text-align: left;
}

.blackBarText
{
    
    padding-top: 1%;
    font-family:  'FuturaMedium';
    font-size: 210%;
    color: white;
    letter-spacing: 10px;
    margin-left: 4%;
}



#lowerBGContain img
{
    width: 100%;
    
}


#divideContain2{
    margin-top:-10%;
    margin-left: -5%;
}


#innoContain
{
    width:80%; 
    margin-top: -3%;
    margin-left: 12%;
}

#innoText
{
    font-family: 'Avenir';
    font-size: 140%;
    padding:5%;
    text-align: center;
    
}

/*Pricing Page*/

#priceBar
{
    margin-top:9%;
}

#pricingContain
{
    width:80%; 
    margin-top: -8%;
    margin-left: 12%;
}

#pricingText
{
    font-family: 'CourierNew';
    font-size: 170%;
    color: black;
    padding:10%;
    padding-top:13%;
    padding-bottom: 0%;
    text-align: justify;
}

#gradientBGContain img
{
    width: 100%;
    position: absolute;
}

#detailsContain
{
   
    width: 80%;
    margin-top: -1%;
    margin-left: 8%;
    
}

.detailName
{
    width: 100%;
    
  
}





.nameText
{
    font-family: 'Avenir';
    font-size: 300%;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
    text-align: right;
    
}


.detailSpecs
{
    padding-top: 9%;
    padding-left: 30%;
    border-left:2px black double;
}


.spec
{
    font-family: 'Avenir';
    font-size: 120%;
    font-weight: bold;
    color: black;
}


.detailDesc
{
   
    padding-top: 3%;
   
}

.detailText
{
     font-family: 'CourierNew';
    font-size: 120%;
}

.startedButton
{
    font-family: 'CourierNew';
    font-size: 120%;
    color: black;
    padding: 2%;
    background-color: transparent;
    border:solid 2px black;
    
}

.nameText, .detailText
{
  padding-top: 20%;
}

.spec:first-child
{
    padding-top: 45%;
}


#seahawkPlus, #seahawkEnt, #seahawkPlat
{
    margin-top: -4%;
}



/*Web Application Page*/
#noResults
{
    text-align: center;
    font-family: 'FuturaMedium';
    letter-spacing:2px;
    visibility: hidden;
   margin-left: 40%;
    position: absolute;
    color:black;
}


[class^='select2']
{
    border-radius: 0px !important;
}

#topContain
{
    width: 93%;  
    margin-left:5%;
}

#newLogo
{
    margin-left: -4%;
}

#savedArticles, #companyProfile
{
   
    color:black;
     float: right;
     margin-left:-3%;
     margin-top: 2%
}

#savedArticles:hover, #companyProfile:hover
{
    color:white;
}

#savedArticles h1, #companyProfile h1
{
    font-weight: 130%;
    font-size: 70%;
    font-size: 100%;
    font-family:'FuturaMedium';
    letter-spacing:2px;
    
}

#saveContain
{
    margin-top: 4%;
    margin-left: 30%;
    width: 45%;
}

#savedPresets
{
   border-right: 1px black solid;
  margin-right:5%;
}

#savedPresets:hover, #saveSearch:hover
{
    color:white;
}

#savedPresets h1, #saveSearch h1
{
    font-size: 120%;

   font-family:'FuturaMedium';
   letter-spacing:2px;
     
}


#searchContain
{
    width: 60%;
    margin-top: 2%;
    margin-left: 18%;
}




#searchBox{
   padding: 3px;
     border: solid 1px #E4E4E4;
    border-radius: 2px;
    background-color: #fff;
    
}


#searchBox input{
    border: 0;
    box-shadow: none;
    font-size:230%;
    color: black;
    font-family:'FuturaMedium';
    letter-spacing:2px;
}

#searchBox button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#searchBox button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#searchBox .glyphicon-search{
    font-size: 23px;
}

#filterContain
{
    width: 90%;
    margin-left: 7%;
    margin-top: 2%;
}


#filterContain label
{

    color:white;
    font-size: 120%;
  background-color: black;

 font-weight: normal;
 font-family: 'FuturaMedium';
  padding:.5%;
  padding-left: 4%;
width:35%;
letter-spacing: 2px;
 

}

#filterContain select
{
    width:55%;
}


#filterContain .col-lg-3:not(:first-child)
{
    margin-left: -3%;
    
}

#filterButton
{
    background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #050505);
  background-image: -moz-linear-gradient(top, #000000, #050505);
  background-image: -ms-linear-gradient(top, #000000, #050505);
  background-image: -o-linear-gradient(top, #000000, #050505);
  background-image: linear-gradient(to bottom, #000000, #050505);
  font-family: Courier New;
  color: #ffffff;
  font-size: 70%;
  padding-top: .5%;
  padding-bottom: .5%;
  
  text-decoration: none;
}

#semanticFilter
{
  position: absolute;
    margin-left: -5%;
    margin-top: 1%;
}

.black {
    color:black;
}

.white {
    color:white;
}


.black:hover
{
    color: white;
}


#filterButton
{
    position: absolute;
    margin-top: -3.5%;
    
    right:5%;
}

#resultsContain
{
   width:90%;
   
   margin-left:7%;
  
}

#resultsContain .row 
{
    height: 250px;
}


#resultsContain .row .semanticCol
{
    height:93%;
}
 #resultsContain .row .contentCol
{
    height: 95%;
}

#resultsContain .row .keyCol
{
    height: 70%;
}

.contentCol
{
    margin-left:-1%;
}



.keyCol
{
    margin-left:-1%;
}
.semanticTag
{
    width:90%;
    height: 20%;
      padding-bottom: 6%;
   background-color:white;
  text-align:center;
    padding-top: 14%;
    border: 1.5px black solid;
 
}


.pos:after

{
    font-family: 'FontAwesome';
   content: "\f067";
   color:black;
}

.neg:after

{
    font-family: 'FontAwesome';
   content: "\f068";
   color:black;
}

.neutral:after

{
    font-family: 'FontAwesome';
   content: "\f096";
   color:black;
}

.dateTag
{
    background-color: white;
    border: 1.5px solid black;
    height: 80%;
    width: 90%;
    margin-top: 10%;
   
}

.dateTag .date
{
    line-height: 220px;
    font-size: 115%;
   font-family:'CourierNew';
    color:black;
    
   
    -webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);


}

.contentTitle
{
    width: 100%;
    height:30%;
    background-color: white;
    margin-left: -2%;
    border: 1.5px solid black;
    border-bottom:0px;
}

.contentTitle:hover
{
    text-decoration: underline;
}

.titleText,.contentText
{
  
    color:black;
    padding-left: 3%;
    padding-right: 4%;
    padding-top: 2%;
     margin: auto;
}

.titleText
{
    font-size:160%;
    font-family:'FuturaMedium';
    letter-spacing:2px;
}

.contentText
{
    font-size: 90%;
      font-family:'CourierNew';
      line-height: 125%;
      
}
.contentArea
{
    
    width: 100%;
    height:70%;
    background-color: white;
    margin-left: -2%;
    border: 1.5px solid black;
}

.readMore
{
    font-style: italic;
    font-size: 90%;
    font-weight: bold;
    color:black;
    
}

.keyTags
{
    margin-left: -3%;
}

.locationTag, .companyTag, .riskTag
{
    height: 30%;
    background-color: white;
    width: 100%;
    letter-spacing: 2px;
    
    border:1.5px solid black;
   
}

.companyTag,.riskTag
{
     margin-top: 3%;
}

.locationText, .companyText, .riskText
{
    text-align: center;
    padding: 2%;
    margin-top:2%;
    letter-spacing: 3px;
    font-weight: bold;
    font-family:'CourierNew';
}
